body {
    width: 100%;

}

.header {
    font-family: "SF Pro Display";

}
.header span{
    color: #262626;
    font-size: 30px;
}

.directorBar {
    text-align: right;
}
.body .row{
    width: 100%;
    padding: 10px;
}
#border {
    display: flex;
    border: 1px solid #949494;
    padding: 10px;
    font-size: 14px;
    /*width: 25%;*/
    height: 150px;
}

.directorBar a {
    margin: 10px;
    font-size: 16px;
    text-decoration: none;
    color: #262626;
}


