body {
    margin-top: 44px;
    margin-left: 55px;
    background-color: #ffffff;
    overflow: hidden;
}


.menu {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    border: 1px solid #949494;
    opacity: 0.1;
    width: 2px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-thumb {
    background: #00B533;
    height: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00B533;
    height: 5px;

}

