body {
    width: 100%;
    font-family: "SF Pro Display";

}

.header {
    position: initial;
    margin-bottom: 70px;
}

.logo {
    width: 100%;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    color: #002930;
}

.logo a {
    padding: 0 7px;
}

.logo:hover {
    text-decoration: none;
}

.logo img {
    width: 20%;
}

/*.dashboard {*/
/*    margin: 0px 0 20px 0;*/
/*}*/

.menu_body a {
    margin: 10px 0;
    font-size: 14px;
    text-decoration: none;
    color: #949494;

}

.menu_body a:hover {
    color: #262626;

}

.menu_footer {
    margin-top: 200%;
}

.menu_footer a {
    margin: 10px;
    font-size: 16px;
    text-decoration: none;
    color: #949494;

}

.menu_footer a:hover {
    color: #262626;

}

